/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, body {
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all ease-in-out 250ms; }

nav {
  margin: 2%; }

.nav-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(158, 156, 156, 0.64); }
  .nav-top a {
    text-decoration: none;
    color: #777; }
  .nav-top img {
    width: 35px; }
  .nav-top .top-brands {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: flex-end; }
    .nav-top .top-brands img {
      filter: invert(1) brightness(0.5); }
    .nav-top .top-brands .jordan {
      width: 25px; }
    .nav-top .top-brands .hurley {
      width: 40px; }
    .nav-top .top-brands .converse {
      width: 50px; }
    .nav-top .top-brands .brand {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
      height: 100%;
      border-right: 1px solid rgba(158, 156, 156, 0.64); }
  .nav-top .top-items {
    display: flex;
    width: 30%;
    justify-content: space-around; }
    .nav-top .top-items .item {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1; }
      .nav-top .top-items .item a {
        font-size: 0.8em; }
      .nav-top .top-items .item .cart {
        width: 17px;
        filter: invert(1) brightness(0.5); }
      .nav-top .top-items .item .flag {
        width: 14px; }
    .nav-top .top-items .item:first-child {
      flex-grow: 3; }

.nav-bottom {
  display: flex;
  justify-content: space-between;
  margin-left: 25px; }
  .nav-bottom img {
    height: 75px; }
  .nav-bottom a {
    text-decoration: none;
    color: #333; }
  .nav-bottom .bottom-main {
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-items: center;
    font-weight: bold; }

.bottom-search {
  display: flex;
  align-items: center;
  position: relative; }
  .bottom-search input {
    padding: 10px; }
  .bottom-search img {
    position: absolute;
    height: 20px;
    top: 26px;
    left: 4px; }

.hero {
  background: url(../img/hero.jpg);
  background-size: cover;
  height: 600px;
  background-position: center center;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .hero .text {
    margin-right: 50px;
    text-align: right; }
    .hero .text h1 {
      color: #333;
      font-size: 3em;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .hero .text .buttons {
      margin-top: 30px; }
      .hero .text .buttons span {
        background: #333;
        padding: 10px 20px;
        color: white; }
        .hero .text .buttons span:hover {
          background: rgba(158, 156, 156, 0.64);
          cursor: pointer; }

/*# sourceMappingURL=app.css.map */
