// ==================resets===================

*, body {
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all ease-in-out 250ms;
}


// =======================header====================
.nav-top {
  display: flex;
  justify-content: space-between;
  img {
  height: 35px;
  }
  .top-brands {
    border: 1px solid black;
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: flex-end;
    .brand {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
      border: 1px solid red;
      height: 100%;
    }
  }
  .top-items {
    display: flex;
    width: 40%;
    justify-content: space-around;
  }
}

// ===================main=======================

// =================footer========================
