// main colors


$primary: #777;
$accent: maroon;
$light: white;
$dark: #333;
$border__gray: rgba(158, 156, 156, 0.64);



//media queries
$lg-break: "(max-width: 1057px)";
$md-break: "(max-width: 789px)";
$sm-break: "(max-width: 600px)";


// images
