// main colors


$primary: #777;
$light: white;
$dark: #333;
$border__gray: rgba(196, 196, 196, 1);



//media queries
$lg-break: "(max-width: 1125px)";
$md-break: "(max-width: 850px)";
$sm-break: "(max-width: 650px)";
